<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>Cloud - {{ title }}</title>
    {% else %}
        <title>Cloud</title>
    {% endif %}
</head>

<body>
    <header class="site-header">
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">
                <img src="{{ url_for('static', filename='icons/cloud.png') }}" width="40" height="40" class="d-inline-block align-top" alt=""> Cloud
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% if current_user.is_anonymous %}
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link" href="#" data-toggle="tooltip" data-placement="top" title="Learn about us!">About</a>
                    <a class="nav-item nav-link" href="#" data-toggle="tooltip" data-placement="top" title="See our services!">Services</a>
                    <a class="nav-item nav-link" href="#" data-toggle="tooltip" data-placement="top" title="Want some hel?">Help</a>
                    <a class="nav-item nav-link" href="#" data-toggle="tooltip" data-placement="top" title="Contact us">Contacts</a>
                </div>
                {% else %}
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link" href="{{ url_for('users.home') }}">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="#" data-toggle="tooltip" data-placement="top" title="Learn about us!">About</a>
                    <a class="nav-item nav-link" href="#" data-toggle="tooltip" data-placement="top" title="See our services!">Services</a>
                    <a class="nav-item nav-link" href="#" data-toggle="tooltip" data-placement="top" title="Want some hel?">Help</a>
                    <a class="nav-item nav-link" href="#" data-toggle="tooltip" data-placement="top" title="Contact us">Contacts</a>
                    <a class="nav-item nav-link disabled" href="#" data-toggle="tooltip" data-placement="top" title="See our services!">({{ current_user.username }})</a>
                    <div class="btn-group dropleft">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            More
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ url_for('users.logout') }}">Logout</a>
                            <a class="dropdown-item" href="{{ url_for('users.delete_account') }}">Delete Account</a>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </nav>
    </header>
    <main role="main" class="container">
        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <p>
            <ul class="list-group">
                <li class="list-group-item list-group-item-light">{{ message }}</li>
            </ul>
        </p>
        {% endfor %} {% endif %} {% endwith %} {% block body %}{% endblock %}
    </main>
<footer class="page-footer fixed-bottom font-small blue">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      Cloud
    </div>
</footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

</html>