<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">-->

    <title>Cloud</title>
</head>

<body>
    <header class="site-header">
        <nav class="navbar navbar-default navbar-static-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">
                <img src="{{ url_for('static', filename='thumbnails/document.png') }}" width="25" height="25" class="d-inline-block align-top" alt=""> Cloud
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% if current_user.is_anonymous %}
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link" href="{{ url_for('users.login') }}" data-toggle="tooltip" data-placement="top" title="Check out your files">Sign in</a>
                    <a class="nav-item nav-link" href="{{ url_for('users.register') }}" data-toggle="tooltip" data-placement="top" title="Create account">Sign up</a>
                </div>
                {% else %}
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link" href="{{ url_for('users.home') }}">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="#" data-toggle="tooltip" data-placement="top" title="Learn about us!">About</a>
                    <a class="nav-item nav-link" href="#" data-toggle="tooltip" data-placement="top" title="See our services!">Services</a>
                    <a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Logout</a>
                    <a class="nav-link disabled" href="#" data-toggle="tooltip" data-placement="top" title="current logged-in user">({{current_user.username}})</a>
                </div>
                {% endif %}
            </div>
        </nav>
        {% if not current_user.is_anonymous %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse nav justify-content-center" id="navbarSupportedContent">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        {% endif %}
    </header>
    <main role="main" class="container">
        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <p>
            <ul class="list-group">
                <li class="list-group-item list-group-item-light">{{ message }}</li>
            </ul>
        </p>
        {% endfor %} {% endif %} {% endwith %} {% block body %}{% endblock %}
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

</html>