{% extends 'layout.html' %}
{% block body %}
<h6>Documets:</h6>
{% if documents|length < 1 %}
	<p>You have not uploaded any videos yet!</p>
{% else %}
	{% for document in documents %}
    <table class="table">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Name</th>
            <th scope="col">Date Created</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ document.id }}</td>
            <td>{{ document.name }}</td>
            <td>{{ document.date.date() }}</td>
            <td><a href="#">Delete</a> <a href="#">Download</a></td>
          </tr>
        </tbody>
      </table>
	{% endfor %}
{% endif %}
<p><a href="{{ url_for('users.upload_document') }}">Add</a></p>
{% endblock body %}